/*font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Oswald', sans-serif;*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.container{
	position: relative;
}

.firstFold{
	background-color: blue;
	position: relative;
}

.secondFold{
	position: relative;
}

.controllerArrowNext{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	bottom: 5px;
	cursor: pointer;
}

.controllerArrowBefore{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 50%;
	bottom: 5px;
	cursor: pointer;
}

.arrowRight{
	background-image: url('./images/arrow.png');
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	top: 9px;
}

.arrowLeft{
	background-image: url('./images/arrow.png');
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 9px;
	transform: rotate(180deg);	
}

/*.header{
	width: 100%;
	height: 100px;
	border: 1px solid red;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
}*/

.introText{
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	width: 46%;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
	position: absolute;
	bottom: 10%;
	left: 27%;
	line-height: 34px;
}

.projectLeft{
	width: 50%;
	float: left;
	box-sizing: border-box;
	height: 100%;
	padding: 50px;
}

.projectCount{
	color: blue;
	position: relative;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}

.projectCount::after{
	content:'';
	position: absolute;
	left: 60px;
	width: 700px;
	top: 6px;
	border-top: 1px solid blue;
	z-index: 99;
}

.projectRight{
	width: 50%;
	float: left;
	box-sizing: border-box;
	height: 100%;
	position: relative;
}

.projectImage{
	background-image: url('./images/bluePattern.jpg');
	width: 100%;
	left: 600px;
	top: 0;
	height: 90%;
	background-size: cover;
	background-position: center;
	position: absolute;
}

.projectImageAnim{
	animation: projectImageEnterAnim 1s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes projectImageEnterAnim{
	0%{
		left: 600px;
	}
	100%{
		left: 0px;
	}
}

.projectName{
	margin-left: -300px;
}

.projectNameAnim{
	margin-left: -300px;
	animation: projectDescAnim 1s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes projectDescAnim{
	0%{
		margin-left: -300px;
	}
	100%{
		margin-left: 0px;
	}
}

.projectDescription{
	opacity: 0;
	margin-top: 100px;
}

.projectDescriptionAnim{
	opacity: 0;
	margin-top: 100px;
	animation : projectDescriptionAnimation 1s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes projectDescriptionAnimation{
	0%{
		opacity: 0;
		margin-top: 100px;
	}
	100%{
		opacity: 1;
		margin-top: 50px;
	}
}

.projectImageBG{
	width: 90%;
	height: 100%;
	float: right;
	background-color: blue;
}

.projectName{
	color: blue;
	font-size: 5.5em;
	margin-top: 150px;
	position: relative;
}

.projectName::after{
	content: '';
	position: absolute;
	top: 100px;
	width: 100px;
	border-top: 1px solid blue;
	left: 0;
}

.thirdFold{
	background-color: #000000;
	height: 100vh;
	overflow: hidden;
}

.thirdSecTopWrpr{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.projectDescription{
	width: 50%;
	margin-top: 50px;
	font-size: 1.4em;
	line-height: 1.4em;
}

.projectButton{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	width: 120px;
	padding: 12px;
	box-sizing: border-box;
	border: 1px solid blue;
	color: blue;
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
}

.allProjectsButton{
	position: absolute;
	left: 50px;
	bottom: 80px;
	font-size: 0.8em;
	cursor: pointer;
	color: #383838;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.disruptWrpr{
	width: calc(100% - 10%);
	padding: 10%;
	box-sizing: border-box;
	padding-bottom: 5%;
	position: relative;
	padding-left: 0.7%;
	margin: 0 auto;
	margin-left: 7%;
}

.disruptWrpr div{
	width: 12.7%;
	font-size: 6em;
	color: blue;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	text-align: center;
	position: absolute;
	top: 20px;
	transition: all 0.5s ease-in-out;
	transition-delay: 0.3s;
}

.disruptAnim>.disruptD{
	transform: translateY(80px);
}

.disruptAnim>.disruptI{
	transform: translateY(10px);
}

.disruptAnim>.disruptS{
	transform: translateY(60px);
}

.disruptAnim>.disruptR{
	transform: translateY(30px);
}

.disruptAnim>.disruptU{
	transform: translateY(120px);
}

.disruptAnim>.disruptP{
	transform: translateY(30px);
}

.disruptAnim>.disruptT{
	transform: translateY(70px);
}

.disruptD{
	left: 0.7%;
}

.disruptI{
	left: 13.4%;
}

.disruptS{
	left: 26.8%;
}

.disruptR{
	left: 40.2%;
}

.disruptU{
	left: 53.6%;
}

.disruptP{
	left: 67%;
}

.disruptT{
	left: 80.4%;
}
.leftBottomButton{
	width: 50%;
	float: left;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #f7f7f7;
	cursor: pointer;
	font-size: 0.8em;
	line-height: 220px;
	padding: 10%;
	padding-bottom: 0;
}

.whyDisruptButton{
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	width: 100px;
	text-align: center;
	color: rgb(66, 241, 226);
	border: 1px solid;
	margin-top: 20px;
	padding: 12px;
    width: 125px;
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}

.rightBottomButton{
	float: left;
	width: 40%;
	box-sizing: border-box;
	padding: 2% 8%;
	background-color: rgba(0,0,0,0.4);
	margin-top: 100px;
}

.whyDisruptDesc{
	color: #f7f7f7;
	font-size: 1.2em;
	line-height: 1.4em;
}

.fourthFold{
	position: relative;
}

.sixthFold{
	position: relative;
	background-color: blue;
}

.sixthFold div{
	vertical-align: top !important;
}

.digitalLeft{
	width: 50%;
	float: left;
	background-color: #ffffff;
	height: 100%;
	background-image: url('./images/IMG_0018.jpg');
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
}

.digitalRight{
	width: 50%;
	float: left;
	background-color: #383838;
	height: 100%;
}

.digitalOverlay{
	width: 65%;
	height: 100%;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	z-index: 99;
	padding: 50px;
	box-sizing: border-box;
}

.digitalLogo{
	width: 50px;
	height: 50px;
	background-image: url('./images/logo.jpg');
	background-size: cover;
	background-position: center;
	margin-top: 50px;
}

.digitalHeading{
	margin-top: 40px;
	color: #ffffff;
	font-size: 2.6em;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	position: relative;
}
.digitalHeading div{
	margin-top: 5px;
}

.digitalHeading::after{
	content: '';
	position: absolute;
	top: 100px;
	left: 0;
	width: 60px;
	border-top: 1px solid blue;
}

.digitalDesc{
	margin-top: 50px;
	width: 50%;
	font-size: 1.2em;
	line-height: 1.6em;
	color: #ffffff;
	font-family: 'Playfair Display', sans-serif;
}

.digitalButton{
	background-color: rgb(66, 241, 226);
	padding: 12px;
	width: 125px;
	font-size: 0.8em;
	text-transform: uppercase;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;
	position: absolute;
	bottom: 50px;
	right: 200px;
	font-family: 'Montserrat', sans-serif;
}

.fifthFold{
	background-color: #ffffff;
	padding: 50px;
	box-sizing: border-box;
	padding-bottom: 0;
}

.blogLeft{
	width: 30%;
	float: left;
}

.blogHeading{
	font-size: 2.6em;
	color: blue;
	font-family: 'Playfair Display', serif;
}

.blogSubHeading{
	font-size: 1.2em;
	color: #383838;
	margin-top: 30px;
	font-family: 'Playfair Display', serif;
}

.blogSubHeading div{
	margin-top: 5px;
}

.blogRight{
	width: 70%;
	background-color: #ffffff;
	float: left;
}

.blogPost{
	width: 100%;
	height: 150px;
	border-bottom: 1px solid #eaeaea;
	position: relative;
}

.blogImage{
	width: 150px;
	height: 120px;
	background-size: cover;
	background-position: center;
	float: left;
	margin-top: 30px;
}

.blogDesc{
	float: left;
	width: calc(100% - 300px);
	padding-left: 50px;
	margin-top: 22px;
	color: #383838;
	font-family: 'Playfair Display', serif;
	font-size: 1.4em;
	line-height: 1.4em;
}

.blogReadMore{
	width: 150px;
	text-align: center;
	font-size: 0.9em;
	color: #383838;
	font-family: 'Playfair Display', sans-serif;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 0px;
}

.allPostsButton{
	padding: 12px;
    width: 125px;
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	background-color: blue;
	float: right;
	font-size: 0.8em;
	text-align: center;
	margin-top: 30px;
}

.sixthTopWrpr{
	width: 100%;
	box-sizing: border-box;
	padding: 50px;
}

.sixthTopTitle{
	color: #ffffff;
	font-size: 2.6em;
	width: 170px;
	float: left;
	text-align: left;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
}

.sixthTopBar{
	width: calc(100% - 320px);
	height: 35px;
	float: left;
	border-bottom: 1px solid #ffffff;
}

.eventsButton{
	background-color: #ffffff;
	color: blue;
	margin-top: 0px;
}

video{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}